* {
    margin: 0;
    padding: 0;
}

li,
a {
    list-style: none;
    text-decoration: none;

}

body {
    background-color: #f4f4f4;
}

// 头部
header {
    background: url(../img/bg1.png);
    height: 22.6rem;

    .user {
        margin-top: 4rem;

        a {
            font-size: 1.8rem;
            color: white;
            border: 1px solid white;
            padding: .3rem 1.2rem;
            margin-top: 1rem;
        }

        img {
            width: 7rem;
        }

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
}

.box {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .left {
        display: flex;


        a {
            font-size: 1.6rem;
            margin: 1rem;
            text-align: center;
            color: white;

            img {
                width: 2rem;
                height: 2rem;

            }
        }
    }

}

ul {
    width: 100%;
    margin-top: 1rem;


    li {
        padding: 0 1rem;
        box-sizing: border-box;
        height: 6rem;
        line-height: 6rem;
        background: url(../img/right.png) no-repeat 32.7rem 1.7rem;
        background-size: 1rem;
        background-color: white;



        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #b2adad;
            font-size: 1.6rem;
            color: rgb(180, 175, 175);

            img {
                width: 2rem;
            }
        }
    }
}